<a href="https://colab.research.google.com/github/geadalfa/Bangkit-Machine-Learning-Class/blob/main/_ILT_ML_01_P_Bangkit_Machine_Learning_Class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Geadalfa Giyanda

#===================**WELCOME TO PYTHON PROGRAMMING**===================
#‎‎‎‎‎‎‎‎‎‎ㅤㅤㅤㅤㅤㅤㅤㅤ**AND INTERACTION WITH THE OPERATING SYSTEM**

---

CLASS CODE        : *ILT-ML-01-P*

INSTRUCTORS CODE  : *ML-0202*

DATE              : *Thursday, 18-February-2021*

TIME              : *13.00 - 15.00*

PROGRAM           : *BANGKIT COHORT 2021 ILT SESSION*

---

# *SESSION 1 : Programming with Python (Crash Course on Python)*

### <font color=”50EBEC”> --> Basic Python Syntax </font>

In [1]:
#print is a built in function that has a syntax like this
#basicly, print used for to give an output of what inside the print statements.
print("THIS IS MY FIRST PROGRAM :")
print()
print("Hello, Bangkit!")

#This is a comment
#It won't be interpreted / executed / run

THIS IS MY FIRST PROGRAM :

Hello, Bangkit!

In [2]:
a = 1               #data type(integer), 'a' is a variable.
b = 0.0             #data type(float), easily have an identically denoted by "." (dot) symbol.
c = "bangkit"       #data type(string), can also type 'bangkit' with single quotation.
d = False           #data type(boolean), only have "True / False" note 'T' and 'F' is capital.
e = 1 + 2j          #data type(complex), have syntax: n1(real part) + n2j(imaginary part). Always have 'j' letter.

print("ASSIGN VAlUE TO VARIABLES")
print(a,'|',b,'|',c,'|',d,'|',e)
print()
print(type(a), type(b), type(c), type(d), type(e))

#integer --> Real number WITHOUT a fraction. Ex: ..,-3,-2,-1,0,1,2,3,..
#float/decimal --> Real numbers WITH a fraction. Ex: ..,-2.6, -1.1, 0.0, 1.4,..
#real part --> 1,2,3,4,5,.....
#imaginary part --> 1j,2j,3j,4j,5j,.....
#complex data type can also: 1 - 2j, 1 / 2j, 1 * 2j, and 1 ** 2j. EXCEPT FOR RELATIONAL OPERATORS(<, >, <=, >=, !=, ==).

ASSIGN VAlUE TO VARIABLES
1 | 0.0 | bangkit | False | (1+2j)

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'complex'>

In [3]:
length = 10
width = 2
area = length * width

print(area)
print(type(width), "This data type belongs to variable width")
print(type(area), "This data type belongs to variable area")
print("This data type belongs to variable changed area", type(str(area))) #any variable with in the paranthesis will be convert to string.

20
<class 'int'> This data type belongs to variable width
<class 'int'> This data type belongs to variable area
This data type belongs to variable changed area <class 'str'>

In [4]:
#print(1 + "hello")
#Got error, because integer cannot be add with string.

# Solution
print(str(1) + "hello")

1hello

In [5]:
print("Hello" + "Bangkit") #note there is no space between them.
print(2020.0 + 1)

#String only can add by string
#Integers only can add by Integers and Float / Floating Point / Decimal

HelloBangkit
2021.0

In [6]:
number = input("Insert Number  :") #default data type has a string.
name = str(input("Your Name      :")) #got an error cause already change to integer data type

print(type(number))
print(type(name))
print()


# The true one,
# number = int(input("Insert Number  :"))
# name = str(input("Your Name     :"))

Insert Number  :8
Your Name      :geadalfa
<class 'str'>
<class 'str'>

In [7]:
#what is function?
#function is like a tools that will help you to make your work easier.
#print(), is a built-in function that already provided in Python.
#str(),int(),float() is also another built-in function. so that you can convert the data type to the spesific one.

#Very Simple function
def event():
    print('BANGKIT 2021')   #it has 4 spaces, called an Indentation. 
                            #Indentation is for pointing out the block of program

event() #call the function to return the exact value what is inside on the function.
        #the "event()" is outside of the function.
        #we know it on the outside because of the indentation.


# 2nd example
def event(Class):           #has a 1 positional argument, where the argument can replace by any value when the function is being called.
    print('BANGKIT 2021')

event(123456)               #whats the different between it? the different is on the positional argument that given by user.
event("ILT SESSION")

BANGKIT 2021
BANGKIT 2021
BANGKIT 2021

In [11]:
def event(Class, Bangkit):           #has a 2 positional argument.
    print('BANGKIT 2021')

#event(123456)


#SOLUTION :
event(123456, "ILT SESSION")

BANGKIT 2021

In [12]:
#greeting function

def biodata(id, name, Class):          
    print("My Student ID : " + id)
    print("My Name       : " + name)
    print("My Class      : " + Class)

biodata('52417498', 'Geadalfa Giyanda', 'ML-05')

My Student ID : 52417498
My Name       : Geadalfa Giyanda
My Class      : ML-05

In [13]:
#Example of using return value

def attempt(first, second):
    return first, second
attempt(1, 2)           #return value will return anything that mentioned there, 
                        #in that case it will return the value that stored on 'first' and 'second'.

                        #the value which mean 1 and 2 will be stored to "first" & "second"


# print(type(coba(1,2)))
# datatype : tuple.
# what is tuple? we will figure it out later.

(1, 2)

### <font color=”50EBEC”> --> Condition and Loops </font>

In [14]:
def check(number):
    if number > 0:
        return "Positive"
    elif number == 0:           #elif stands for else if
        return "Zero"
    elif number < 0:
        return "Negative"
    else:
        return "INPUT ERROR"

check(2021)

'Positive'

In [15]:
#while loop is a type of looping that ONLY accept when the condition is true and always iterate over and over again until get the FALSE condition.
#while loop widely used if you don't know how much you want to iterate.

def whileloop(anything):
    while anything > 0:                             #if anything has a value more than 0 / the condition is true
        anything = anything - 1                     #then CONTINUE to the while loop program
        print("The value = " + str(anything))

whileloop(10)                                       #always looping if the condition still true.


#INFINITE LOOP, CAREFUL!
# def whileloop(anything):
#     while anything > 0:                             
#         anything = anything + 1                     
#         print("The value = " + str(anything))

# whileloop(10)

The value = 9
The value = 8
The value = 7
The value = 6
The value = 5
The value = 4
The value = 3
The value = 2
The value = 1
The value = 0

In [16]:
#unlike the while loop,

#for loop is a type of looping that use a spesific condition to do a looping.
#for loop widely used for you that already know how much you want to iterate.

for x in range(4):                  #formula --> range(stop).
    print(x)                        #range will stop on number 4 but DON'T included 4, means that 4 - 1 / (n-1).
                                    #that is the syntax or rules that already exist in python like that.

0
1
2
3

In [17]:
for hello in range(3, -1, -1):           #formula --> range(start, stop, step)
    print(hello)                         #each iteration will minus by 1

                                         #start is WHEN the iteration will start from
                                         #stop is WHEN the iteration will stop at
                                         #step is same like move for each every iteration.

3
2
1
0

In [18]:
for z in range(4):              #break statement use to out from the current iteration / looping
    print("Z = " + str(z))
    if z == 2:
        break                   #the last iteration for '3' doesn't executed because break statement.

Z = 0
Z = 1
Z = 2

In [19]:
for a in range(3, 0, -1):
    if a % 2 == 0:              #percentage symbols or also called MOD/MODULO operator.
        continue                #is the result of the remain value from the division.
    print(a)                    #continue statement is will continue to the next iteration and skip the current iteration
                                #so, the print statements is skipped.

3
1

In [20]:
for i in range(2, 5):              
    for j in range(1, i):           #executed inside the loop first to fully completed then go to the next iteration at parent/outer loop.
        print(i, j)

#for j in range(1,2) --> 1
#print(i,j) --> current i = 2, current j = 1
#cause j only has one at this state so it will just iterate one time.

#for j in range(1,3) --> 1, 2
#print(i,j) --> current i = 3, current j = 1

#repeated again on for j loop cause still have remains condition to loop.
#print(i,j) --> current i = 3, current j = 2
# .
# .
# .
# .
# and so on.

2 1
3 1
3 2
4 1
4 2
4 3

### <font color=”50EBEC”> --> List, Indexing, and Slicing </font>

In [21]:
program = "Hello\nBangkit" # / 'bangkit'
                           # escape character or \n stands for new line or just same like an enter.

#another way to declare strings
year = """
2
0
2
1
"""
                            #triple quotation mark is ONLY for multiple line.


#program[0] = 'a'
print(program)
#print(program[5])
print(year)

#got an error because a strings are IMMUTABLE
#which mean that they can't be MODIFIED.
#or even also can't added and remove the value that already stored inside string.

Hello
Bangkit

2
0
2
1

In [22]:
def List():                                 #make a function to make a squared number
    return [x**2 for x in range(1, 11)]     #so what happening here in this syntaxs
                                            #is we are trying to make a List Comprehension, and that's the syntax of it.
                                            #i will show you later on the presentation.

square_number = List()  #list have an identic denoted by '[]' or square brackets symbols
print("Square Number :", square_number)    #list have an index start from zero.

Square Number : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
print(square_number[1])  
print(square_number[2])         #when slicing with index with positive number, it's start from 0 and select the first number of the list
print(square_number[3])        
                                
print(square_number[-1])        # -1 / negative one is the opposite from the positive one.
print(square_number[-2])        #when slicing with index with negative number, it's start from the last number of that list
print(square_number[-3])

4
9
16
100
81
64

In [24]:
print("Square Number :", square_number)
print(square_number[:3])                    #the left side is start, the right side is stop.
print(square_number[3:])                    #when the left side is empty, it will starts from 0 --> [0:3]
print(square_number[3:3])                   #and when the right side is empty, it will STOP until the last index of that list
print()                                     #when the start and stop have the same number it will return empty list.
print(square_number[3:4])

Square Number : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9]
[16, 25, 36, 49, 64, 81, 100]
[]

[16]

In [25]:
square_number[0] = "0"
print(square_number)                        #unlike strings, LIST ARE MUTABLE. which mean the opposite from IMMUTABLE
                                            #you can modified (add/remove) the value inside the list.

['0', 4, 9, 16, 25, 36, 49, 64, 81, 100]

### <font color=”50EBEC”> --> Tuples </font>

In [26]:
a = (1, 2, 3, 4, 5)             #unlike list, tuple have an identic denoted by '()' or paranthesis symbols.
                                #and same like strings also, tuple are immutable / CAN'T MODIFIED.

#a[0] = 0
#got an error because a strings are immutable

print(a)

(1, 2, 3, 4, 5)

In [27]:
def get_stat(numbers):
    total = sum(numbers)
    length = len(numbers)
    mean = total /length
    return length, total, mean

stat = get_stat([1,3,5,7])
print(stat)
print(type(stat))

print()
for data in stat:
    print(data)

(4, 16, 4.0)
<class 'tuple'>

4
16
4.0

### <font color=”50EBEC”> --> Dictionaries </font>

In [28]:
job = {'Data Scientist' : 'Gojek',                      #the job name is the "KEY", and the company is the "VALUE"
       'Machine Learning Engineer' : 'Traveloka',       #so dictionary ALWAYS have a form of KEYS and VALUE.
       'Software Engineer' : 'Google',
       123 : "is a number",
       'the number is' : 123}

print(job)
print(type(job))
print()

print("CHECK PAIR KEYS AND VALUES :", '\n', job.keys(), '\n', job.values())

print()

print(job['Data Scientist'])
print("123", job[123])          
print('the number is', job['the number is'])         #basicly, it will print all of the value that stored in a KEY
                                                     #also, KEY AND THE VALUE itself can be any data type (str, float, int)

{'Data Scientist': 'Gojek', 'Machine Learning Engineer': 'Traveloka', 'Software Engineer': 'Google', 123: 'is a number', 'the number is': 123}
<class 'dict'>

CHECK PAIR KEYS AND VALUES :
 dict_keys(['Data Scientist', 'Machine Learning Engineer', 'Software Engineer', 123, 'the number is'])
 dict_values(['Gojek', 'Traveloka', 'Google', 'is a number', 123])

Gojek
123 is a number
the number is 123

In [29]:
# change a value from dictionary
value = {'x':2, 'y':5}
value['x'] = 3
value['y'] = 7

print(value)                #dictionary is MUTABLE.

{'x': 3, 'y': 7}

In [30]:
# added a value to empty dictionary
new_value = {}
new_value['z'] = 2
print(new_value)

{'z': 2}

In [31]:
print(value, new_value)

{'x': 3, 'y': 7} {'z': 2}

### <font color=”50EBEC”> --> Object Oriented Programming (Class & Method) </font>

In [32]:
class Dog:
    def __init__(this_can_be_anything, name, age, sound):           #this_can_be_anything --> usually type by 'self'. Means that refers to their self.
        this_can_be_anything.name = name
        this_can_be_anything.age = age
        this_can_be_anything.sound = sound

    # Instance method
    def description(this_can_be_anything):
        return f"{this_can_be_anything.name} is {this_can_be_anything.age} years old"

    # Another instance method
    def speak(this_can_be_anything):
        return f"{this_can_be_anything.name} says {this_can_be_anything.sound}"
        


#assign value to the instance method / function on the class Dog and store to variable.
Dog_A = Dog("Jack", 1, "woof woof")
Dog_B = Dog("Charles", 2, "rrrrgghhh")
Dog_C = Dog("Herald", 3, "meong")

#REFERENCES --> https://realpython.com/python3-object-oriented-programming/

In [33]:
print(Dog_A.description())
print(Dog_A.speak(),'\n')

print(Dog_B.description())
print(Dog_B.speak(),'\n')

print(Dog_C.description())
print(Dog_C.speak())

Jack is 1 years old
Jack says woof woof

Charles is 2 years old
Charles says rrrrgghhh

Herald is 3 years old
Herald says meong